
/* Source Colors (id)*/
#one{background-color: darkgreen; color: pink;}
#two{background-color: lightblue; color: orange;}
#three{background-color: black; color: white;}
#four{background-color: pink; color: darkgreen;}
#five{background-color: blue; color: orange;}

/* Header Colors (class)*/
.hone{background-color: darkgreen; color: pink;}
.htwo{background-color: lightblue; color: orange;}
.hthree{background-color: black; color: white;}
.hfour{background-color: pink; color: darkgreen;}
.hfive{background-color: blue; color: orange;}

/* Header Color Overide (h1 requirement)*/
h1{color: white !important;}

/*Tool Tip*/
body {background-color: lightseagreen !important; padding-bottom: 200px;}

.a1:hover::after {content: "Macintosh ll Image"; margin: 50px; margin-bottom: 100px;}

.a2:hover::after  {content: "First Iphone Image"; margin: 50px; margin-bottom: 100px;}

.a3:hover::after  {content: "Early Version Macbook Galaxy Background"; margin: 50px; margin-bottom: 100px;}

.a4:hover::after  {content: "Modern Macbook on Desk";  margin: 50px; margin-bottom: 100px;}

.a5:hover::after  {content: "Mac Book Air In The Dark "; margin: 50px; margin-bottom: 100px ;}

.a5::after {pointer-events: none;  text-decoration: none;}